* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'DM Sans';
  }
  h1{
      font-size:36px;
      font-weight:bold;
  }

  .body-wrapper{
      padding:1rem 2rem;
  }
  
  .nav-title{
      margin-left: 1rem;
  }

.nav-links{
    padding: 0rem 1rem;
}

  .nav {
    height: 50px;
    width: 100%;
    background-color: #252525;
    position: relative;
    
  }
  
  .nav > .nav-header {
    display: inline;
    
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
    /* margin: 0rem 1rem; */
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
    /* margin: 0rem 1rem; */
    
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  


  .nav img{
      height:35px;
  }

/* explore */
.explore{
    margin: 2rem 50px;
    padding: 48px 90px;
    text-align: center;
    background-color: #ECFFD6 ;
    border-radius: 25px;
}

.explore img{
    width:12vw;
    padding: 1.05vw;
}

.cards{
    
   padding: 2rem 4rem;
}
.card{
    margin: 0rem 1rem;
}

.card h3{
    margin: .5rem 0rem 0rem 0rem;
}

.card img{
    border-radius: 10px;
    width:25vw;
}

.card-container {
    display: flex;
  }
  
  .section {
    flex: 1; /*grow*/
  }
  

  @media (max-width: 1100px) { /*breakpoint*/
    /* .card-container {
      flex-direction: column;
    } */

    .explore{
        margin: 2rem 2rem;
        padding: 2rem 2rem;
    }

    .explore img{
        width:15vw;
        
    }
  }

@media (max-width: 768px) { /*breakpoint*/
     .card-container {
      flex-direction: column;
    }
    .card img{
        
        width:100%;
    }
    .cards{
        padding: 1rem 4rem;
    }
    .card{
        padding-bottom: 3rem;
    }
    .explore img{
        width:22vw;
        
    }

  }



 @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 1rem;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
    
    .explore img{
        width:20vw;
        
    }
    .cards{
        padding: 1rem 2rem;
    }

  }


.heading{
    font-size: 32px;
    text-align: center;
    padding-top:1rem;
    margin: 1rem 4rem;
}



input[type=text] {
    font-family: 'DM Sans';
    width: 900px;
    height:50px;
    padding: 20px;
    border: #eee;
    border-radius: 10px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.1)  ; 
	-webkit-box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.1)  ; 
	-moz-box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.1)  ; 
  }
  

  .login input[type=text] {
    width:500px;
    margin-left:80px;
    margin-right:80px;
    margin-bottom: 1rem;
  }

  button{
     
    font-family: 'DM Sans';
    width: 300px;
    border:none;
    padding: 1rem;
    background-color: #363636;
    color: #eee;
    border-radius: 10px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.1)  ; 
	-webkit-box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.1)  ; 
	-moz-box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.1)  ; 
    margin: 0rem 15rem;
    margin-top: 1rem;
  }
  

  footer{
      margin-top:4rem;
    background: #E2E2E2;
    height: auto;
    width: 100vw;
    font-weight: bold;
    padding-top: 40px;
    color: #363636;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 16px;
    color: #363636;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;

    border-radius: 50%;

}
.socials a i{
    font-size: 1.1rem;
    width: 20px;


    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px;
padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p{
float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.footer-menu{
  float: right;

}
.footer-menu ul{
  display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
}
.footer-menu ul li a:hover{
  color: #27bcda;
}

@media (max-width:500px) {
.footer-menu ul{
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}
}